<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Login</title>

    <link rel="stylesheet" href="/css/admin.css">

</head>

<body>

<header>

<h1>PeriTech Store</h1>

</header>

<main>

<h2>Iniciar sesión</h2>

<form action="/login" method="POST">

<p>Correo</p>

<input
type="email"
name="correo"
required>

<p>Contraseña</p>

<input
type="password"
name="password"
required>

<br><br>

<button class="btn">

Ingresar

</button>

</form>

</main>

</body>

</html>